@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Oswald';
    src: url('/part2/dist/fonts/Oswald/Oswald-Bold.ttf') format('truetype');
  }
  body {
    @apply debug-screens
      bg-gradient-to-b
      from-gray-100
      to-gray-400
      h-screen
      bg-no-repeat bg-gray-400;
  }
  .typo {
    @apply prose prose-xl tablet:prose-lg desktop:prose-sm prose-red max-w-min;
  }
  h2 {
    font-size: 2em !important;
  }
  .container {
    @apply mx-auto bg-gray-100 h-screen shadow-sm;
  }
  .btn {
    @apply rounded shadow-sm transition hover:shadow-none px-3 py-2 dark:text-white;
  }
  .btn-icon {
    @apply flex items-center;
  }
  .btn-gray {
    @apply bg-gray-300 hover:bg-gray-400 dark:bg-gray-500 dark:hover:bg-gray-600;
  }
}
